body {
   background-image: url("../images/circles-dark.png");
   background-repeat:no-repeat;
   background-size: cover;
}

img {
  width: 50%;
  border: 5px solid blue;
  padding: 5%;
  display: inline-block;
}


.pics {
  display: flex;
}
