img {
  width: 50%;
  border: 5px solid blue;
  padding: 5%;
}

/* .pics {
  display: inline-block;
} */


.pics {
  display: flex;
}


.block {
  /* width:50%; */
  display: inline-block;
  /* margin: 0; */
  /* float: left; */
  flex: 50%;
}
