@media only screen and (max-width: 850px) {
.photo-grid	img {
		width: 280px;
	}
	.photo-grid {
		display: grid;
		grid-template-columns: 1fr ;
	}
}

@media only screen and (min-width: 850px) {
	.name {
		font-size: 35px;
	}

	.top-nav ul li{
		display: inline-block;
	}

	.top-nav ul {
		text-align: center;
	}

	.content img {
		height: 300px;
		width: 300px;
	}

	.box {
		font-size: 15px;
	}


	.photo-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
	.pic1 img {
		width: 600px;
	}
	.pic1 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end:3;
	}
	.pic2 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end:1;
	}
	.pic3 {
		margin: auto;
		grid-column-start: 2;
		grid-column-end: 2;
	}
	.pic4 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 1;
	}
	.pic5 {
		margin: auto;
		grid-column-start: 2;
		grid-column-end: 2;
	}
	.pic6 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 1;
	}
	.pic7 img {
		width: 600px;
	}
	.pic7 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 3;
	}

}


@media only screen and (min-width: 1200px) {
	.name {
		float: left;
		padding-left: 30px;
		background-color: darkgreen; /*#5FB135;*/
		font-size: 45px;
	}

	.top-nav ul {
		padding: 32px;
		text-align: right;
	}

	.content img {
		width: 300px;
	}

	.box {
		font-size: 16px;
	}

	.photo-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 5px;
	}
	.pic1 img {
		height: 300px;
		width: 620px;
	}
	.pic1 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.pic2 {
		margin: auto;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.pic3 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.pic4 {
		margin: auto;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.pic5 {
		margin: auto;
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.pic6 {
		margin: auto;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.pic7 img {
		height: 300px;
		width: 620px;
	}
	.pic7 {
		margin: auto;
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 3;
	}

}
