* {
	margin: 0;
}
html {
  box-sizing: border-box;
}
html,
body {
	height:100%;
  overflow: auto;
	background-image: url("../img/globe.png");
  background-repeat:no-repeat;
  background-size: cover;
  color: black;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 15px;
}

/* header */
header {
  display:block;
  position: sticky;
  right: 0;
  top: 0;
  left: 0;
	background-color: darkgreen;
  border-bottom: 1px solid green;
	box-shadow: 0px 5px 10px 1px green;
  width: 100%;
}
.header{
  font-family: 'Raleway', sans-serif;
  color: #71C043;
  padding: 25px;
  text-align: center;
  font-size: 25px;
}

/* navigation bar in header */
.top-nav{
  display: block;
  position: relative;
  top:0px;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  text-transform: uppercase;
}

.top-nav ul li{
  display: block;
  list-style-type: none;
  display: block;
  background-color: darkgreen;
}

.top-nav ul li a{
	font-size: 1em;
	color: #71C043;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
nav ul a:hover {
	background-color: #71C043;
  color: darkgreen;
	border-radius: 15px;
}

.top-nav ul a.current-page{
  color: darkgreen;
  background-color: #71C043;
	border-radius: 15px;
}



/* Main content of webpage */
h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: #71C043;
}

.content {
    background-color: rgba(0,100,0,0.7);
    padding: 10px;
		margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: sans-serif;
		font-size: 18px;
    text-align: center;
		border-radius: 15px;
		margin-bottom: 35px;
}

.content img {
    margin-right: 15px;
    float: left;
    width: 100px;
}


.contentboxes {
  display: flex;      /* source: https://stackoverflow.com/questions/5523632/aligning-a-floatleft-div-to-center */
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.box {
  height: 400px;
  width: 500px;
  background-color: rgba(0,100,0,0.7);
  float: left;
  padding: 15px;
  margin: 15px;
  margin-bottom: 45px;
  border-radius: 15px;
  color: black;
  font-size: 14px;
	text-align: center;
}

.pics {
  margin: auto;
  padding-right: 3%;
  padding-left: 3%;
}


#map {
        width: 300px;
        height: 300px;
				z-index: 0;
				border-radius: 15px;
				margin-bottom: 30px;
      }


/* Footer */
footer {
  background-color: darkgreen;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  border-top: 1px solid green;
  text-align: center;
	box-shadow: 0px 0px 25px 1px green;
}

footer img {
  padding: 10px 25px 10px 25px;
}
